<section id="weareagency" class="padded">
    <div class ="container">
     <h2>We Are MOUSE</h2>
     <h1><strong>About MOUSES</strong></h1>
     <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum doloremque nihil itaque veniam autem? Molestiae, architecto aliquam magni cumque consequatur voluptatum nulla quidem distinctio sapiente! Vero veniam sapiente quos Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum doloremque nihil itaque veniam autem? Molestiae, architecto aliquam magni cumque consequatur voluptatum nulla quidem distinctio sapiente!</h6>
    </div>
    <div id="divider" class="divider1"></div>
</section>