<header>
    <nav class="container-fluid barra">
     <div class="div-lg">
         <h1 class="tittle">KLK Grupo India</h1>
     </div>
 
     <div class="div-ul">
         <ul class="list">
             <li class="li-btn">
                 <a href="" class="btn-link">Characters</a>
             </li>
             <li class="li-btn">
                 <a href="" class="btn-link">Locations</a>
             </li>
             <li class="li-btn">
                 <a href="" class="btn-link">Episodes</a>
             </li>
         </ul>
     </div>
    </nav> 
 </header>