.navbar{
  background: #fff;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  height: 70px;
  min-width: 320px;
  border: none;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
}
.botons{
  margin-right: 70px;
}
.navbar{
  border:none ;
}
.blog{
  color: #333;
  font-size: 20px;
  text-decoration: none;
}
.btn-link{
  color: #333;
}

.nav-link{
  color: #333;
}

