<section id="getconnected" class="padded">
    <div class ="container">
     <h2>Get Moused</h2>
     <h1><strong>FOLLOW MOUSE</strong></h1>
     <h3 id="text">get moused with mouse on social mouse</h3>
    </div>

    <li>
        <a target="_blank" href="#">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="#">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="#">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="#">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>
</section>