<section id="takealook" class="padded">
    <div class ="container">
     <h2>Take a Mouse at</h2>
     <h1><strong>Some of our Mouses</strong></h1>

     <div id="botones">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">All</button>
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Mouse Desing</button>
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Art</button>
    </div>

     <div class="row row-cols-1 row-cols-md-3 g-5">

        <div class="col" alt="...">
          <div class="card">
            <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col" alt="...">
            <div class="card">
              <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col" alt="...">
            <div class="card">
              <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col" alt="...">
            <div class="card">
              <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col" alt="...">
            <div class="card">
              <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          <div class="col" alt="...">
            <div class="card">
              <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
            </div>
          </div>
          
        
    </div>
</div>
</section>