/* You can add global styles to this file, and also import other style files */
:root{
    --footer: #f7f7f7;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
    --gris-claro: #CCCCCC;
    --gris-oscuro: #333333;
}