<section id="whatweare" class="padded">
    <div class ="container">
     <h2>Who are Mouse</h2>
     <h1><strong>Our MOUSES</strong></h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col" alt="..." *ngFor="let item of listaUsuarios; let i=index">
          <div class="card" *ngIf="i<6" >
            <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6>{{item.username}}</h6>
              <strong><h5 class="card-title">{{item.name}}</h5></strong>
              <p id="text" class="card-text">Email: {{item.email}} <br>
                Phone: {{item.phone}} <br>
                Website: {{item.website}}
              </p>
              <small>Un Person</small>
            </div>
          </div>
        </div>
       
    </div>
</div>

</section>