<section id="whatweare" class="padded">
    <div class ="container">
     <h2>Who are Mouse</h2>
     <h1><strong>Our MOUSES</strong></h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col" alt="...">
          <div class="card">
            <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6>Director Mouse</h6>
              <strong><h5 class="card-title">Mouse</h5></strong>
              <p id="text" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ex atque, nesciunt incidunt blanditiis ullam pariatur voluptatum necessitatibus animi at iste nulla deleniti!</p>
              <small>Un Mouse</small>
            </div>
          </div>
        </div>
        <div class="col" alt="...">
            <div class="card">
              <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h6>General Mouse</h6>
                <strong><h5 class="card-title">Mouse</h5></strong>
                <p id="text" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ex atque, nesciunt incidunt blanditiis ullam pariatur voluptatum necessitatibus animi at iste nulla deleniti!</p>
                <small>Un Mouse</small>
              </div>
            </div>
          </div>
          <div class="col" alt="...">
            <div class="card">
              <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h6>Programator Mouse</h6>
                <strong><h5 class="card-title">Mouse</h5></strong>
                <p id="text" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ex atque, nesciunt incidunt blanditiis ullam pariatur voluptatum necessitatibus animi at iste nulla deleniti!</p>
                <small>Un Mouse</small>
              </div>
            </div>
          </div>
          <div class="col" alt="...">
            <div class="card">
              <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h6>Lord Mouse</h6>
                <strong><h5 class="card-title">Mouse</h5></strong>
                <p id="text" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ex atque, nesciunt incidunt blanditiis ullam pariatur voluptatum necessitatibus animi at iste nulla deleniti!</p>
                <small>Un Mouse</small>
              </div>
            </div>
          </div>
          <div class="col" alt="...">
            <div class="card">
              <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h6>Magic Mouse</h6>
                <strong><h5 class="card-title">Mouse</h5></strong>
                <p id="text" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ex atque, nesciunt incidunt blanditiis ullam pariatur voluptatum necessitatibus animi at iste nulla deleniti!</p>
                <small>Un Mouse</small>
              </div>
            </div>
          </div>
          <div class="col" alt="...">
            <div class="card">
              <img src="assets/imagen4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h6>Just a simple Mouse</h6>
                <strong><h5 class="card-title">Mouse</h5></strong>
                <p id="text" class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ex atque, nesciunt incidunt blanditiis ullam pariatur voluptatum necessitatibus animi at iste nulla deleniti!</p>
                <small>Un Mouse</small>
              </div>
            </div>
          </div>

    </div>
</div>

</section>